---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Brands from "@/sections/Brands.astro";
import AbbottConBackground from "@/components/AbbottConBackground.astro";
import Banner from "@/sections/Banner.astro";
import GameFocus from "@/components/Game";
import Reference from "@/components/Reference.astro";
---

<Layout title="Concentrate">
  <Header />
  <main>
    <Banner />
    <Brands align="justify-center lg:justify-start" />
    <GameFocus client:load  />
    <Reference/>
  </main>
  <footer>
    <AbbottConBackground />
  </footer>
</Layout>
