<section class="max-w-7xl mx-auto px-4 pb-4 md:px-8 mt-10">
  <p>
    <strong>MIA: 1.</strong> Oelkers W. Antimineralocorticoid activity of a novel oral contraceptive containing drospirenone, a unique progestogen resembling natural progesterone. Eur J Contracept Reprod Health Care. 2002;7 Suppl 3:19-26;42-3. <br>
    <strong>2.</strong> Apter D, et al. Eﬀect of an oral contraceptive containing drospirenone and ethinylestradiol on general well-being and ﬂuid-related symptoms. Eur J Contrac Rep Health Care 2003; 8: 37-51. <br><br>
    
    <strong>MIA20: 1.</strong> Fenton C, et al. Drospirenone/ethinylestradiol 3mg/20microg (24/4 day regimen): a review of its use in contraception, premenstrual dysphoric disorder and moderate acne vulgaris. Drugs 2007; 67:1749-65. <br><br>
    
    <strong>Bellaface 1.</strong> Pérez E. Ethinylestradiol/Dienogest in Oral Contraception 2010. Drugs. 2010;70 (6):681-9. <br><br>
    
    <strong>Bellaface20: 1.</strong> Palacio J, Caicedo D. Clinical behavior of a cohort of adult women with facial acne treated with combined oral contraceptive: ethinylestradiol 20 μg/dienogest 2 mg. Inter J Women Health. 2017;9:835-42.
  </p>
</section>