<section>
  <div class="max-w-7xl mx-auto bg-morado-claro-abbott p-4 lg:p-8 font-georgia text-white text-3xl leading-snug">
    <p><strong>Juego de perfiles de mujeres que pueden utilizar MIA, MIA20, Bellaface o Bellaface20.</strong> 
      Concéntrate en identificar la opción anticonceptiva adecuada para cada tipo de mujer.</p>
  </div>
</section>