<section>
  <div class="max-w-7xl mx-auto bg-morado-claro-abbott p-4 lg:p-8 font-georgia text-white text-3xl leading-snug">
    <p>
      <strong>
        Juego de perfiles de mujeres que pueden utilizar 
        MIA<span class="relative inline-block align-super -top-1 text-base">®</span>, 
        MIA20<span class="relative inline-block align-super -top-1 text-base">®</span>, Bellaface<span class="relative inline-block align-super -top-1 text-base">®</span> o Bellaface20<span class="relative inline-block align-super -top-1 text-base">®</span>.
      </strong> 
      Concéntrate en identificar la opción anticonceptiva adecuada para cada tipo de mujer.</p>
  </div>
</section>
