---
import "@/styles/global.css";
import { URL_BASE } from "@/config";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href=`${URL_BASE}/favicon.png` />
    <meta
      name="description"
      content="Juego de perfiles de mujeres que pueden utilizar MIA, MIA20, Bellaface o Bellaface20. Concéntrate en identificar la opción anticonceptiva adecuada para cada tipo de mujer."
    />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
